.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 0;
}

.profile__container {
    display: flex;
    flex-direction: column;
    margin-top: 123px;
    width: 100%;
    max-width: 410px;
}

.profile__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
    width: 100%;
}

.profile__info:last-of-type {
    border: none;
    margin-bottom: 0;
}

.profile__text {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__input {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    border-style: none;
    padding: 0;
}

.profile__input:focus {
    outline: none;
}

.profile__span-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    max-width: 410px;
    min-height: 24px;
    text-align: right;
}

.profile__edit-button {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin-top: 220px;
    cursor: pointer;
    border: none;
    background: none;
}

.profile__edit-button:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
}

.profile__edit-button_disabled {
    cursor: default;
    opacity: 0.7;
}

.profile__signout-link {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
    .profile__container {
        margin-top: 96px;
    }

    .profile__edit-button {
        margin-top: 210px;
    }

    .profile__signout-link {
        margin-bottom: 269px;
    }
}

@media screen and (max-width: 500px) {
    .profile__container {
        max-width: 280px;
    }
}

@media screen and (max-width: 320px) {
    .profile__title {
        margin-top: 70px;
        margin-bottom: 0;
    }

    .profile__container {
        margin-top: 80px;
        max-width: 260px;
    }

    .profile__edit-button {
        font-size: 12px;
        line-height: 15px;
        margin-top: 379px;
    }

    .profile__signout-link {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 40px;
    }

}