.register {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;
    min-height: 100vh;
}

.register__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.register__form {
    display: flex;
    flex-direction: column;

}

.register__form-label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin-bottom: 10px;
    margin-top: 6px;
}

.register__form-label:nth-of-type(1) {
    margin-top: 0;
}

.register__form-input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: #F9F9F9;
    color: #000000;
    width: calc(100% - 30px);
    border: none;
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    padding: 15px;
    vertical-align: top;
}

.register__form-input:focus {
    outline: none;
}

.register__form-input_error {
    color: #EE3465;
}

.register__form-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin-top: 10px;
    max-width: 396px;
    min-height: 24px;
}

.register__form-button-submit {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #FF6838;
    text-align: center;
    border-radius: 3px;
    width: 396px;
    height: 45px;
    margin-top: 69px;
    padding: 0;
    border: none;
    transition: opacity 0.2s;
    cursor: pointer;
}

.register__form-button-submit:hover {
    opacity: 0.8;
}

.register__form-button-submit_disabled {
    color: #C2C2C2;
    background-color: #F8F8F8;
}

.register__form-signin-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    color: #FFFFFF;
}

.register__form-signin-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin: 0 5px 0 0;
}

.register__form-signin-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FF6838;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .register {
        margin-top: 232px;
        margin-bottom: 232px;
    }
}

@media screen and (max-width: 420px) {
    .register {
        max-width: 260px;
        margin-top: 56px;
        margin-bottom: 30px;
        align-items: center;
    }

    .register__form-button-submit {
        font-size: 12px;
        line-height: 15px;
        width: 260px;
        margin-top: 157px;
    }

    .register__form-signin-block {
        margin-top: 14px;
    }

    .register__form-signin-text {
        font-size: 12px;
        line-height: 15px;
        margin: 0 5px 0 0;
    }

    .register__form-signin-link {
        font-size: 12px;
        line-height: 15px;
    }
}